<form action="/signup" method="post">
  <input id="username" type="text" name="username">
  <input id="email" type="text" name="email">
  <input id="password" type="text" name="password">
  <input type="submit" name="Sign Up">
</form>
